body {
    background-color: rgb(131, 78, 255);
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 50px 5px 10px rgba(0, 0, 0, 363 )
}

div{
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input#valora {
    width: 100px;
}

input#valorb {
    width: 100px;
}